.header {
    background-color: var(--bg-color);
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo h1 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -1px;
}

.navbar__menu {
    display: flex;
    gap: 30px;
    list-style: none;
}

.navbar__link {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    transition: var(--transition);
    text-decoration: none;
    color: inherit;
}

.navbar__link:hover {
    opacity: 0.7;
}

.header__icons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header__icon-link, .header__cart-link {
    font-size: 18px;
    transition: var(--transition);
    text-decoration: none;
    color: inherit;
}

.header__cart-count {
    font-size: 12px;
    background-color: var(--accent-color);
    color: white;
    padding: 2px 6px;
    border-radius: 10px;
    vertical-align: top;
    margin-left: -5px;
}
